<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace：与当前xml文件对应的java接口 -->
<mapper namespace="spring.mapper.UserMapper">
     <!-- 获取指定手机号对应的用户 -->
     <select id="getUserByPhone" resultType="entity.User">
          SELECT
             id,
             nickname nickName,
             name,
             phone,
             birthday,
             email,
             live_city liveCity,
             address,
             married,
             job,
             education,
             password,
             pass_question passQuestion,
             personal_id personalId,
             paper_type paperType,
             sex,
             salt,
             money
           FROM
             tule_user
           WHERE
             phone=#{phone}  
     </select>   
     
     <!--修改用户的密码-->
     <update id="changeUserPass">
         UPDATE 
              tule_user
         SET
              password=#{newPass}
         WHERE
              phone=#{phone}     
     </update>
     
     <!-- 获取用户的头像 -->
     <select id="getUserImageUrlByUserId" resultType="java.lang.String">
        SELECT
           head_image
        FROM
           tule_user
        WHERE
           id = #{id}
     </select>
     
     <!-- 上传头像文件路径到数据库 -->
	<update id="putHeadImage">
	   UPDATE
	     tule_user
	   SET
	     head_image = #{image}
	   WHERE
	     id = #{id}
	</update>
	<!-- 用户进行付款  -->
	<update id = "payForMoney">
	  UPDATE
	    tule_user
	  SET
	    money = money - #{money,jdbcType = INTEGER}
	  WHERE
	    id = #{id,jdbcType = INTEGER}
	  AND
	    money - #{money,jdbcType = INTEGER} >= 0
	</update>
	<!-- 用户的退款操作 -->
	<update id="returnForMoney">
	  UPDATE
	    tule_user
	  SET
	    money = money + #{money,jdbcType = INTEGER}
	  WHERE
	    id = #{id,jdbcType = INTEGER}
	</update>
</mapper>