body{
	margin:0;
	padding:0;
	font-family: "microsoft yahei";
}
header{
	width: 1200px;
	height:77px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background-color: #F5F5F5;
}
.header1{
	position:absolute;
	width:237px;
	height:33px;
	border: 1px solid gray;
	margin: 20px 20px;
	background-color: #F5F5F5;
}
.header2{
	position:absolute;
	width:237px;
	height:33px;
	border: 1px solid gray;
	margin: 20px 20px;
	background-color: #F5F5F5;
	left:316px;
}
.header3{
	position:absolute;
	width:237px;
	height:33px;
	border: 1px solid gray;
	margin: 20px 20px;
	background-color: #F5F5F5;
	left:674px;
}
.header4{
	position: absolute;
	left:273px;
	top:26px;
}
.header5>input{
	height:30px;
	width: 120px;
	background-color:#FF8800;
}
.header5{
	position: absolute;
	right:103px;
	top:22px;
}
.one{
	margin:5px 5px;
	position: absolute;
	border: 1px solid white;
	padding:0px 5px;
	border-right-color: gray;
}
.one1{
	top:5px;
	left:50px;
	position: absolute;
	
}
.one11{
	position: absolute;
	left:-68px;
	top:8px;
}
input{
	border: none;
}
#nav_top{
	display:block;
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
#nav_top{
	margin-top: 20px;
}
.nav1{
	float: left;
	text-align: center;
	
}
nav{
	width: 1200px;
	margin: 0 auto;
}
.nav_top1{
	width: 32px;
	height: 50px;
	border: 1px solid #4FD692;
}
.nav_top2{
	width: 105px;
	height: 50px;
	border: 1px solid #4FD692;
	background-color: #F8F8F8;
}
#nav_top3{
	display:block;
	width: 1200px;
	margin: 0 auto;
	position: relative;
}
.two{
	display:inline-block;
	margin:10px 3px;
	position:relative;
	font-size: 20px;
}
.two1{
	margin-left: 25px;
}
.two2{
	color: #FF8800;
}
.thr{
	display:inline-block;
	font-size: 18px;
	margin-top: 12px;
	width: 160px;
}
article{
	
	position:absolute;
	width: 800px;
	padding-top:23px;
	padding-left:20px;
	height:40px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 50px;
	border: 1px solid black;
	background-color: #F4FCF8;
}
article>div>span{
	text-align: center;
}
.arc{
	width:170px;
	float: left;
}
#artc{
	top:150px;
	position: relative;
	overflow: hidden;
}
#artc>div{
	padding-top:15px;
	height:50px;
	border-top:1px solid #EEEEEE;
	border-bottom:1px solid #EEEEEE;
	padding-left:20px;
	width:152px;
	float:left;
}
.four{
	font-size: 24px;
	color: #FF8800;
}
.five{
	display:inline-block;
	width:80px;
	height:30px;
	background-color: #FF8800;
	color: white;
	font-size: 16px;
}
.twoo{
	top:74px;
	left:100px;
	position: absolute;
}
.twoo1{
	top:131px;
	left:100px;
	position: absolute;
}
.twoo2{
	top:162px;
	left:100px;
	position: absolute;
}